<%- include ('global/header', {title: post.title});  %>

<%- include ('global/navbar');  %>


<h1><%= post.title %> </h1>
<h2><%= post.subtitle %> </h2>
<h5>Author: <%= post.author %></h5>
<br />

<section>
  <% post.content.forEach(function(paragraph){%>
  <%=paragraph%>
  <br />
  <br />
  <%})%>
</section>

<% let badge_styles = ['primary', 'secondary','success','danger','warning','info','light','dark']; %>
<% post.tags.forEach(function(tag, index){%>
<span class="badge badge-<%=badge_styles[index%7]%>"><%=tag%></span>
<%})%>

<%- include ('global/footer');  %>